<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Search</title>
</head>
<body>
    <div><h1>Movie Search</h1></div>
    <form method="GET" action="/search">
    <div>
        <label for="query">Search for movies</label>
        <input type="text" name="query" id="query" placeholder="What movie?">
    </div>
    <button type="submit">Look for it!</button>
</form>
</body>
</html>